* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* Colours */
  --color-primary: #607D8B;
  --color-accent: #03A9F4;
  --color-dark-primary: #455A64;
  --color-light-primary: #CFD8DC;
  --color-text-icon: #FFFFFF;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #BDBDBD;
  --color-background: #FFFFFF;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

h1 {
  color: var(--color-primary);
  font-size: 4vmin;
  padding-bottom: 1vh;
}

p {
  color: var(--color-primary-text);
  font-size: 2vmin;
}

a {
  color: var(--color-accent);
}

.content {
  padding: 3vh 5vw;
}
