* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* Colours */
  --color-primary: #607D8B;
  --color-accent: #03A9F4;
  --color-dark-primary: #455A64;
  --color-light-primary: #CFD8DC;
  --color-text-icon: #FFFFFF;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #BDBDBD;
  --color-background: #FFFFFF;
}

body {
  background-color: var(--color-background);
}

.title-header {
  width: 100vw;
  background-color: var(--color-primary);
  border-bottom: 0.5vh solid var(--color-divider);
  text-align: center;
}

.title-text {
  padding: 3vmin;
}

.title-text h1 {
  color: var(--color-text-icon);
  font-size: 5vmin;
}

.title-text h2 {
  color: var(--color-primary-text);
  font-size: 4vmin;
}

.title-logo {
  width: 60vmin;
  animation: title-logo-spin infinite 3.5s linear;
  display: block;
  margin: 0 auto;
  padding: 1vh 0;
}

.navbar {
  width: 100vw;
  background-color: var(--color-dark-primary);
}

.navbar h1 {
  color: var(--color-text-icon);
  display: inline-block;
  font-size: 3vmin;
  padding: 2vh 5vw;
}

.content {
  padding: 3vh 5vw;
}


@keyframes title-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in-out;
  }
}
